/bcm963138BGW_cfe_fs_kernel
/bcm963138BGW_flash_image_963138GW
/bcm963138BGW_flash_image_963138GW.w
/bcm963138BGW_fs_kernel
/bcm963138BGW_nand_cferom_fs_image_128_jffs2.w
/bcm963138BGW_nand_cferom_fs_image_128_ubi.w
/bcm963138BGW_nand_fs_image_128_jffs2.w
/bcm963138BGW_nand_fs_image_128_ubi.w
/bootfs/
/bootfs128kb.img
/bootfs128kbtagg.img
/fs.build/
/fs.install/
/fs/
/jffs2_rootfs128kb.img
/modules/
/ramdisk
/rootfs.img
/rootfs.ubifs
/rootfs128kbtagg.img
/ubi_rootfs128kb.img
/vmlinux
/vmlinux.bin
/vmlinux.lz
