*.o
*.d
*.a

/dropbear/*
!/dropbear/
!/dropbear/options.h
/dropbear.tar.bz2

/bcm_boot_launcher/bcm_boot_launcher
/bdmf_shell/bdmf_shell
/dhrystone/dry
/ledctl/ledctl
/memaccess/memaccess
/ppp/pppoe/pppd
/psictl/psictl
/scratchpadctl/scratchpadctl
/send_cms_msg/send_cms_msg
/stund/stund
